* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background:  gray;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
}

h1 {
    margin-bottom: 25px;
}
.h1::after{
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.category-selector,
.controls,
.font-controls {
    margin: 10px 0;
}

.quote-display {
    margin: 20px 0;
    font-size: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    min-height: 120px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

body.dark-mode {
    background-color: #333;
    /* color: #fff; */
}

body.dark-mode .quote-display {
    border-color: #555;
}
